<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhrenjie04.alex.manager.dao.OrgDao">
	<!-- cache type="org.mybatis.caches.memcached.MemcachedCache" / -->
	<resultMap type="com.zhrenjie04.alex.manager.domain.Org"
		id="orgResult">
		<result property="orgId" column="org_id" />
		<result property="orgName" column="org_name" />
        <result property="orgCode" column="org_code" />
        <result property="orgType" column="org_type" />
		<result property="isLocked" column="is_locked" />
		<result property="parentId" column="parent_id" />
        <result property="idPath" column="id_path" />
        <result property="comId" column="com_id" />
        <result property="groupId" column="group_id" />
        <result property="otherResults.comName" column="com_name" />
        <result property="otherResults.groupName" column="group_name" />
	</resultMap>
	<select id="queryAll" resultMap="orgResult" parameterType="java.util.HashMap"> 
        <![CDATA[
            select * from t_org where 1=1
        ]]>
        <if test="treeChildren == true">
        and id_path like CONCAT((select id_path from t_org where org_id=#{orgId}),'%')
        </if>
        <if test="ids != null">
        		and org_id in(
        		<foreach collection="ids" item="id" separator=",">#{id}</foreach>
        		)
        </if>
        <if test="groupId != null">
        and group_id=#{groupId}
        </if>
        <if test="toFindGroups == true">
        and org_type='COM'
        and com_id=group_id
        and org_name like concat('%',#{groupNameLike},'%')
        </if>
<!-- 
        <if test="orgId != null">
        and org_id=#{orgId}
        </if>
 -->
		and is_deleted=0
        <if test="orderByIdPathAsc == true">
        order by id_path asc
        </if>
        <if test="ids == null">
        order by convert(org_name using gbk) asc
        </if>
	</select>
	<select id="queryObject" resultMap="orgResult" parameterType="java.util.HashMap"> 
        <![CDATA[
            select * from t_org where org_id=#{orgId}
        ]]>
		and is_deleted=0
	</select>
	<select id="pageQueryAll" resultMap="orgResult" parameterType="java.util.HashMap"> 
        <![CDATA[
            select o.*,c.org_name com_name,g.org_name group_name from t_org o left join t_org c on o.com_id=c.org_id left join t_org g on o.group_id=g.org_id where 1=1
        ]]>
       	<if test="parentId != null and parentId != ''">and o.parent_id=#{parentId}</if>
       	<if test="id != null">and o.org_id=#{id}</if>
        <if test="keyword != null and keyword !=''">and o.org_name like concat('%',#{keyword},'%')</if>
		and o.is_deleted=0
		<if test="orderBy != null and orderBy !=''">
			order by ${orderBy}
			<if test="orderType != null and orderType !=''">${orderType}</if>
		</if>
		limit #{start},#{length}
	</select>
	<select id="count" resultType="java.lang.Long" parameterType="java.util.HashMap"> 
        <![CDATA[
            select count(*) from t_org where 1=1
        ]]>
       	<if test="parentId != null and parentId != ''">and parent_id=#{parentId}</if>
        	<if test="id != null">and org_id=#{id}</if>
       	<if test="ids != null">
       	and org_id in(
       		<foreach collection="ids" item="id" separator=",">#{id}</foreach>
       	)
       	</if>
        <if test="keyword != null and keyword !=''">and org_name like concat('%',#{keyword},'%')</if>
		and is_deleted=0
	</select>
	<insert id="insertObject" parameterType="com.zhrenjie04.alex.manager.domain.Org">
        insert into t_org(org_id,org_name,org_code,org_type,is_deleted,is_locked,parent_id,id_path,com_id,group_id,creater_id,creater_name)
        values(#{orgId},#{orgName},#{orgCode},#{orgType},0,0,#{parentId},#{idPath},#{comId},#{groupId},#{createrId},#{createrName})
	</insert>
    <update id="deleteAll" parameterType="java.util.HashMap">
        update t_org set is_deleted=1
        ,last_modified_time=now(),last_modifier_id=#{lastModifierId},last_modifier_name=#{lastModifierName}
        where (
        <foreach collection="idPaths" item="idPath" separator="or">id_path like concat(#{idPath},'%')</foreach>
        )and is_deleted = 0 and id_path like concat(#{userOrgIdPath},'%')
    </update>
    <update id="updateObject" parameterType="com.zhrenjie04.alex.manager.domain.Org">
        update t_org set org_name=#{orgName},org_code=#{orgCode},org_type=#{orgType}
        ,last_modified_time=now(),last_modifier_id=#{lastModifierId},last_modifier_name=#{lastModifierName}
        where
        org_id=#{orgId}
    </update>
    <update id="updateSubComsComIdAndGroupIdToDept" parameterType="com.zhrenjie04.alex.manager.domain.Org">
        update t_org set com_id=#{comId},group_id=#{groupId},org_type='DEPT'
        where
        id_path like concat(#{idPath},'%') and org_id!=#{orgId}
    </update>
    <update id="updateSelfAndSubComsComId" parameterType="com.zhrenjie04.alex.manager.domain.Org">
        update t_org set com_id=#{comId}
        where
        id_path like concat(#{idPath},'%')
    </update>
    <update id="updateSelfAndSubComsComIdAndGroupId" parameterType="com.zhrenjie04.alex.manager.domain.Org">
        update t_org set com_id=#{comId},group_id=#{groupId}
        where
        id_path like concat(#{idPath},'%')
    </update>
    <update id="updateMoving" parameterType="com.zhrenjie04.alex.manager.domain.Org">
        update t_org set id_path=#{idPath},parent_id=#{parentId}
        where
        org_id=#{orgId}
    </update>
    <update id="updateMovingSubNodes" parameterType="java.util.HashMap">
        update t_org set id_path=replace(id_path,#{oldIdPathStart},#{newIdPathStart})
        where
        id_path like concat(#{oldIdPathStart},'%');
    </update>
    <update id="updateLocked" parameterType="com.zhrenjie04.alex.manager.domain.Org">
        update t_org set is_locked=#{isLocked}
        where
        org_id=#{orgId}
    </update>
</mapper> 