<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.position//DTD Mapper 3.0//EN" "http://mybatis.position/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhrenjie04.alex.manager.dao.PositionDao">
	<!-- cache type="position.mybatis.caches.memcached.MemcachedCache" / -->
	<resultMap type="com.zhrenjie04.alex.manager.domain.Position"
		id="positionTreesResult">
		<result property="positionId" column="position_id" />
		<result property="positionName" column="position_name" />
        <result property="positionCode" column="position_code" />
		<result property="otherResults.orgId" column="org_id" javaType="java.lang.String"/>
		<result property="otherResults.orgName" column="org_name" />
		<result property="otherResults.orgCode" column="org_code" />
	</resultMap>
	<select id="treesAll" resultMap="positionTreesResult"
		parameterType="java.util.HashMap"> 
        <![CDATA[
            select p.position_id,p.position_name,p.position_code,o.org_id,o.org_name,o.org_code from t_position p left join t_org o on p.group_id=o.org_id where p.is_deleted=0 and o.is_deleted=0
        ]]>
	</select>
	<select id="treesGroup" resultMap="positionTreesResult"
		parameterType="java.util.HashMap"> 
        <![CDATA[
            select p.position_id,p.position_name,p.position_code,o.org_id,o.org_name,o.org_code from t_position p left join t_org o on p.group_id=o.org_id where p.group_id=#{groupId} and p.is_deleted=0 and o.is_deleted=0
        ]]>
	</select>
    <resultMap type="com.zhrenjie04.alex.manager.domain.Position"
        id="positionResult">
        <result property="positionId" column="position_id" />
        <result property="positionName" column="position_name" />
        <result property="positionCode" column="position_code" />
        <result property="isLocked" column="is_locked" />
        <result property="groupId" column="group_id"/>
        <result property="otherResults.groupName" column="group_name" />
    </resultMap>
    <select id="queryObject" resultMap="positionResult" parameterType="java.util.HashMap"> 
        <![CDATA[
            select p.*,o.org_name group_name from t_position p left join t_org o on p.group_id=o.org_id where 1=1
        ]]>
        <if test="id != null">
            and position_id=#{id}
        </if>
        and p.is_deleted=0
    </select>
    <select id="count" resultType="java.lang.Long" parameterType="java.util.HashMap">
        select count(*) from t_position
        where
        1=1
        and is_deleted =0
        <if test="positionName != null or positionCode != null">
        and(
            1=0
	        <if test="positionName != null">or position_name=#{positionName}</if>
	        <if test="positionCode != null">or position_code=#{positionCode}</if>
        )
        </if>
        <if test="groupId != null">AND group_id=#{groupId}</if>
        <if test="keyword != null and keyword !=''">and (position_name like concat('%',#{keyword},'%') or position_code like concat('%',#{keyword},'%'))</if>
    </select>
    <select id="pageQueryAll" resultMap="positionResult" parameterType="java.util.HashMap">
        select p.*,o.org_name group_name from t_position p left join t_org o on p.group_id=o.org_id
        where
        1=1
        and p.is_deleted =0
        <if test="positionName != null or positionCode != null">
        and(
            1=0
            <if test="positionName != null">or position_name=#{positionName}</if>
            <if test="positionCode != null">or position_code=#{positionCode}</if>
        )
        </if>
        <if test="groupId != null">AND p.group_id=#{groupId}</if>
        <if test="keyword != null and keyword !=''">and (position_name like concat('%',#{keyword},'%') or position_code like concat('%',#{keyword},'%'))</if>
        <if test="orderBy != null and orderBy !=''">
            order by ${orderBy}
            <if test="orderType != null and orderType !=''">${orderType}</if>
        </if>
        limit #{start},#{length}
    </select>
    <select id="queryAll" resultMap="positionResult" parameterType="java.util.HashMap">
        select p.*,o.org_name group_name from t_position p left join t_org o on p.group_id=o.org_id
        where
        1=1
        and p.is_deleted =0
        <if test="positionName != null or positionCode != null">
        and(
            1=0
            <if test="positionName != null">or position_name=#{positionName}</if>
            <if test="positionCode != null">or position_code=#{positionCode}</if>
        )
        </if>
        AND p.group_id=#{groupId}
        <if test="keyword != null and keyword !=''">and (position_name like concat('%',#{keyword},'%') or position_code like concat('%',#{keyword},'%'))</if>
        <if test="orderBy != null and orderBy !=''">
            order by ${orderBy}
            <if test="orderType != null and orderType !=''">${orderType}</if>
        </if>
    </select>
    <insert id="insertObject" parameterType="com.zhrenjie04.alex.manager.domain.Position">
        insert into t_position(
              `position_id`,
              `position_name`,
              `position_code`,
              `group_id`,
              `is_deleted`,
              `is_locked`,
              `creater_id`,
              `creater_name`
        )values(
              #{positionId},
              #{positionName},
              #{positionCode},
              #{groupId},
              0,
              0,
              #{createrId},
              #{createrName}
        )
    </insert>
    <update id="deleteAll" parameterType="java.util.HashMap">
        update t_position set is_deleted=1
        ,last_modified_time=now(),last_modifier_id=#{lastModifierId},last_modifier_name=#{lastModifierName}
        where position_id in(
        <foreach collection="ids" item="id" separator=",">#{id}</foreach>
        )
        <if test="groupId != null">and group_id=#{groupId}</if>
    </update>
    <update id="updateObject" parameterType="com.zhrenjie04.alex.manager.domain.Position">
        update t_position set position_id=position_id,
              `position_name`=#{positionName},
              `position_code`=#{positionCode}
        where position_id=#{positionId}
        <if test="groupId != null">and group_id=#{groupId}</if>
    </update>
    <update id="updateLocked" parameterType="com.zhrenjie04.alex.manager.domain.Position">
        update t_position set is_locked=#{isLocked}
        where position_id=#{positionId}
        <if test="groupId != null">and group_id=#{groupId}</if>
    </update>
</mapper> 