<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhrenjie04.alex.manager.dao.ProjectDeptDao">
	<!-- cache type="org.mybatis.caches.memcached.MemcachedCache" / -->
	<resultMap type="com.zhrenjie04.alex.manager.domain.ProjectDept"
		id="projectDeptQueryAllResult">
		<result property="projectDeptId" column="project_dept_id" />
		<result property="projectDeptName" column="project_dept_name" />
		<result property="projectDeptCode" column="project_dept_code" />
	</resultMap>
	<resultMap type="com.zhrenjie04.alex.manager.domain.ProjectDept"
		id="projectDeptTreesResult">
		<result property="projectDeptId" column="project_dept_id" />
		<result property="projectDeptName" column="project_dept_name" />
		<result property="projectDeptCode" column="project_dept_code" />
		<result property="otherResults.orgId" column="org_id" javaType="java.lang.String"/>
		<result property="otherResults.orgName" column="org_name" />
		<result property="otherResults.orgCode" column="org_code" />
	</resultMap>
	<select id="queryAll" resultMap="projectDeptQueryAllResult"
		parameterType="java.util.HashMap"> 
        <![CDATA[
            select * from t_project_dept where 1=1
			and is_deleted=0
        ]]>
	</select>
	<select id="treesAll" resultMap="projectDeptTreesResult"
		parameterType="java.util.HashMap"> 
        <![CDATA[
            select pd.project_dept_id,pd.project_dept_name,pd.project_dept_code,com.* from t_project_dept pd left join (select org_id,org_name,org_code from t_org where org_type='COM' and is_deleted=0) as com on pd.com_id=com.org_id where pd.is_deleted=0 and com.org_id is not null
        ]]>
	</select>
	<select id="treesComAndSubCom" resultMap="projectDeptTreesResult"
		parameterType="java.util.HashMap"> 
        <![CDATA[
            select pd.project_dept_id,pd.project_dept_name,pd.project_dept_code,com.* from t_project_dept pd left join (select org_id,org_name,org_code from t_org where org_type='COM' and id_path like concat((select id_path from t_org where org_id=#{comId} and is_deleted=0),'%') and is_deleted=0) as com on pd.com_id=com.org_id where pd.is_deleted=0 and com.org_id is not null
        ]]>
	</select>
	<select id="treesCom" resultMap="projectDeptTreesResult"
		parameterType="java.util.HashMap"> 
        <![CDATA[
			select pd.project_dept_id,pd.project_dept_name,pd.project_dept_code,com.* from t_project_dept pd left join (select org_id,org_name,org_code from t_org where org_id=#{comId} and is_deleted=0) as com on pd.com_id=com.org_id where pd.is_deleted=0 and com.org_id is not null
        ]]>
	</select>
	<select id="treesMy" resultMap="projectDeptTreesResult"
		parameterType="java.util.HashMap"> 
        <![CDATA[
			select pd.project_dept_id,pd.project_dept_name,pd.project_dept_code,com.org_id,com.org_name,com.org_code from t_project_dept pd left join t_org com on pd.com_id=com.org_id where project_dept_id=#{projectDeptId} and pd.is_deleted=0 and com.is_deleted=0
        ]]>
	</select>
	<select id="count" resultType="java.lang.Long" parameterType="java.util.HashMap">
		select count(*) from t_project_dept p
		left join t_org go on p.group_id=go.org_id
		left join t_org co on p.com_id=co.org_id
		where
		1=1
		<if test="comId != null">AND p.com_id=#{comId}</if>
		<if test="groupId != null">AND p.group_id=#{groupId}</if>
        <if test="keyword != null and keyword !=''">and (
        project_dept_name like concat('%',#{keyword},'%')
        or
        go.org_name like concat('%',#{keyword},'%')
        or
        co.org_name like concat('%',#{keyword},'%')
        )
        </if>
		and p.is_deleted=0
	</select>
	<resultMap type="com.zhrenjie04.alex.manager.domain.ProjectDept"
		id="pageResult">
		<result property="projectDeptId" column="project_dept_id" />
		<result property="projectDeptName" column="project_dept_name" />
		<result property="projectDeptCode" column="project_dept_code" />
		<result property="otherResults.groupId" column="group_id" javaType="java.lang.String"/>
		<result property="otherResults.groupName" column="group_name" />
		<result property="otherResults.comId" column="com_id" javaType="java.lang.String"/>
		<result property="otherResults.comName" column="com_name" />
	</resultMap>
	<select id="pageQueryAll" resultMap="pageResult" parameterType="java.util.HashMap">
		select p.*,go.org_name group_name,co.org_name com_name from t_project_dept p
		left join t_org go on p.group_id=go.org_id
		left join t_org co on p.com_id=co.org_id
		where
		1=1
		<if test="comId != null">AND p.com_id=#{comId}</if>
		<if test="groupId != null">AND p.group_id=#{groupId}</if>
        <if test="keyword != null and keyword !=''">and (
        project_dept_name like concat('%',#{keyword},'%')
        or
        go.org_name like concat('%',#{keyword},'%')
        or
        co.org_name like concat('%',#{keyword},'%')
        )
        </if>
		and p.is_deleted=0
		<if test="orderBy != null and orderBy !=''">
			order by ${orderBy}
			<if test="orderType != null and orderType !=''">${orderType}</if>
		</if>
		limit #{start},#{length}
	</select>
	<resultMap type="com.zhrenjie04.alex.manager.domain.ProjectDept"
		id="objectResult">
		<result property="projectDeptId" column="project_dept_id" />
		<result property="projectDeptName" column="project_dept_name" />
		<result property="projectDeptCode" column="project_dept_code" />
		<result property="groupId" column="group_id"/>
		<result property="comId" column="com_id"/>
	</resultMap>
	<select id="queryObject" resultMap="objectResult"
		parameterType="java.util.HashMap"> 
        <![CDATA[
            select * from t_project_dept where 1=1
            and project_dept_id=#{projectDeptId}
			and is_deleted=0
        ]]>
	</select>
</mapper> 