<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhrenjie04.alex.manager.dao.RolePrivilegeDao">
	<!-- cache type="org.mybatis.caches.memcached.MemcachedCache" / -->
    <update id="deleteAll" parameterType="java.util.HashMap">
        update t_role_privilege set is_deleted=1
        ,last_modified_time=now(),last_modifier_id=#{lastModifierId},last_modifier_name=#{lastModifierName}
        where role_id=#{roleId}
        and is_deleted = 0
    </update>
	<insert id="insertObject" parameterType="com.zhrenjie04.alex.manager.domain.RolePrivilege">
        insert into t_role_privilege(id,role_id,privilege_id,is_deleted,creater_id,creater_name)
        values(#{id},#{roleId},#{privilegeId},0,#{createrId},#{createrName})
	</insert>
</mapper>