<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhrenjie04.alex.user.dao.Role2PrivilegeDao">
	<!-- cache type="org.mybatis.caches.memcached.MemcachedCache" / -->
	<resultMap type="com.zhrenjie04.alex.user.domain.Privilege"
		id="privilegeResult">
        <result property="privilegeId" column="privilege_id" />
        <result property="privilegeName" column="privilege_name" />
        <result property="privilegeCode" column="privilege_code" />
        <result property="frontEndSystem" column="front_end_system" />
        <result property="simpleUrl" column="simple_url" />
        <result property="requestMethod" column="request_method" />
        <result property="isMenu" column="is_menu" />
        <result property="parentId" column="parent_id" />
        <result property="idPath" column="id_path" />
        <result property="isLocked" column="is_locked" />
        <result property="iconClass" column="icon_class" />
        <result property="iconType" column="icon_type" />
        <result property="ab" column="ab" />
        <result property="collapse" column="collapse" />
        <result property="sortValue" column="sort_value" />
        <result property="frontEndSystem" column="front_end_system" />
	</resultMap>
    <select id="queryAllByIdentityId" resultMap="entityResult" parameterType="java.lang.String">
        select * from t_identity_role where identity_id=#{id}
    </select>
</mapper> 
