<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhrenjie04.alex.user.dao.UserDao">
	<!-- cache type="org.mybatis.caches.memcached.MemcachedCache" / -->
    <resultMap type="com.zhrenjie04.alex.core.User"
        id="userResult">
        <result property="userId" column="user_id" />
        <result property="username" column="username" />
        <result property="password" column="password" />
        <result property="realname" column="realname" />
        <result property="nickname" column="nickname" />
        <result property="cellphone" column="cellphone" />
        <result property="email" column="email" />
        <result property="gender" column="gender" />
        <result property="birthday" column="birthday" />
        <result property="isDeleted" column="is_deleted" />
        <result property="isLocked" column="is_locked" />
        <result property="portraitUrl" column="portrait_url" />
        <result property="groupId" column="group_id" />
        <result property="createdTime" column="created_time" />
        <result property="otherResults.groupName" column="group_name" />
    </resultMap>
    <select id="queryAll" resultMap="userResult" parameterType="java.util.HashMap">
        select * from t_user where user_id in(
        <foreach collection="ids" item="id" separator=",">#{id}</foreach>
        )
    </select>
	<select id="queryObjectById" resultMap="userResult" parameterType="java.lang.String">
		select * from t_user where user_id=#{id}
    </select>
	<select id="queryObject" resultMap="userResult" parameterType="java.util.HashMap">
        <![CDATA[
            select * from t_user where 1=1
        ]]>
		<if test="id != null">
			and user_id=#{id}
		</if>
		<if test="username != null">
			and username=#{username}
		</if>
        <if test="password != null">
            and password=#{password}
        </if>
        <if test="cellphone != null">
            and cellphone=#{cellphone}
        </if>
		and is_deleted=0
	</select>
	<insert id="insertObject" parameterType="com.zhrenjie04.alex.core.User">
        insert into t_user(
              `user_id`,
			  `username`,
			  `password`,
			  `salt`,
			  `realname`,
			  `nickname`,
			  `email`,
			  `cellphone`,
			  `birthday`,
			  `gender`,
			  `portrait_url`,
			  `is_locked`,
			  `is_deleted`,
			  `creater_id`,
			  `creater_name`,
			  `group_id`
        )values(
              #{userId},
              #{username},
              #{password},
              #{salt},
              #{realname},
              #{nickname},
              #{email},
              #{cellphone},
              #{birthday},
              #{gender},
              #{portraitUrl},
              0,
              0,
              #{createrId},
              #{createrName},
              #{groupId}
        )
	</insert>
    <update id="updateObject" parameterType="com.zhrenjie04.alex.core.User">
        update t_user set user_id=user_id
        <if test="password != null and password != ''">,password=#{password}</if>
        <if test="salt != null and salt != ''">,salt=#{salt}</if>
        ,realname=#{realname}
        ,nickname=#{nickname}
        ,email=#{email}
        ,cellphone=#{cellphone}
        ,birthday=#{birthday}
        ,gender=#{gender}
        ,portrait_url=#{portraitUrl}
        ,last_modified_time=now(),last_modifier_id=#{lastModifierId},last_modifier_name=#{lastModifierName}
        where user_id=#{userId}
     </update>
    <update id="updateLocked" parameterType="com.zhrenjie04.alex.core.User">
        update t_user set is_locked=#{isLocked}
        where user_id=#{userId}
     </update>
</mapper> 